.logob {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .intro {
    background-image: url('sriparno.jpg');
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  .benefits {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .benefit {
    background-color: #f7f7f7;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .icon {
    font-size: 24px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .product {
    display: inline-block;
    margin: 20px;
    width: 200px;
    height: 250px;
    border: 1px solid #ddd;
    border-radius: 